{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static "calc/css/style.css" %}">
<style>
    .mapboxgl-popup-content {
    min-width:200px;
    }
    .btn-close { background-color: transparent !important; }
    .adam_style  .table thead > tr > th {
      background: #54b4f0 !important;
      font-size: 13px;
      font-weight: 600;
    }
     .adam_style table.dataTable thead .sorting {
      background-image: url(http://cdn.datatables.net/1.10.12/images/sort_both.png) !important;
    background-repeat: no-repeat !important;
    background-position: center right !important;
    }
    .adam_style table.dataTable thead .sorting_asc {
      background-image: url(http://cdn.datatables.net/1.10.12/images/sort_asc.png) !important;
      background-repeat: no-repeat !important;
    background-position: center right !important;
    }
    .adam_style table.dataTable thead .sorting_desc {
      background-image: url(http://cdn.datatables.net/1.10.12/images/sort_desc.png) !important;
      background-repeat: no-repeat !important;
    background-position: center right !important;
    }
    .adam_style .table tbody > tr > td {
      background: #efeff0 !important;
      color: #000 !important;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 13px;
    }
    /* .adam_style .table tr{
      border: 1px solid;
    } */
    .adam_style table.dataTable thead th, table.dataTable thead td {
      border-bottom: none;
    }
    .adam_style .table, .adam_style .table thead th {
      border-spacing: 0;
      border-width:1px;
    }
    .adam_style .table tbody > tr > td:last-child
     { border-right: 1px solid #ccc; }
     .adam_style .table tbody > tr > td a  {
      border-right: 1px solid #ccc;
     }
     .adam_style .table tbody > tr > td a {
       color: #000;
     }
     .adam_style #panel_details_data_wrapper #panel_details_data_paginate .paginate_button.disabled
        {
       background: #54b4f0;
     }
     .adam_style #panel_details_data_wrapper #panel_details_data_paginate .paginate_button
     {
      background: #54b4f0;
     }
     .buttons-html5{
         background: #54b4f0 !important;
         color: #fff !important;
     }
</style>
<section class="main-container">
    <div class="container-md my-4">
        <div class="rateAnalysisContainer bg-white adam_style">
            <h5>View Panel</h5>
            <div style="float:left;margin: 7px;">City:</div>
            <select class="form-select region_city"  style="width:230px;" id="city_name" name="city_name" aria-label="Default select example">
              {% for region in region_city %}

                <option selected={{selected}} value={{region.city}}>{{region.city}}</option>
             {% endfor %}
            </select>
            <div class="table-responsive">
                <table class="table" id="panel_details_data">
                    <thead>
                        <tr>
                           <th scope="col">Panel No</th>
                            <th scope="col">Player No</th>
                            <th scope="col">Market </th>
                            <th scope="col">Co ordinates</th>
                            <th scope="col">Description</th>
                            <th scope="col">City</th>
                            <th scope="col">Media Type</th>
                            <th scope="col">Sub Market</th>
                            <th scope="col">Week Impressions</th>
                            <th scope="col">Unit Type</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Are you sure you want to <label id="button_lable" value=""></label> selected scenario ?</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal-btn-si">Submit</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Map view</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="pt-3">
            <div id="map" class="map mb-3" style='margin: 0 auto; height:400px'></div>
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- The Modal -->
<div class="modal fade bd-example-modal-lg" id="myModal_1">
  <div class="modal-dialog modal-xl" style="height:500px">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reservation Data View</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-md mt-0">
		<div class="rateAnalysisContainer bg-white adam_style">
		  <div class="table-responsive">
            <table class="table" id="reservation_data" style="width:100% !important; display:none;">
                <thead>
                        <tr>
                            <th scope="col">Contract Number</th>
                            <th scope="col">Contract Type</th>
                            <th scope="col">Salesperson</th>
                            <th scope="col">Advertiser</th>
                            <th scope="col">segment</th>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Value</th>
                        </tr>
                </thead>
            </table>
            <span id="error_reservation"></span>
		  </div>
		</div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12"></div>
</section>
<script src="{% static "calc/js/main.js" %}"></script>
<script>

        $(document).on("click", ".button", function (e) {
            e.preventDefault();
            var latLng = $(this).attr("data-latLng");
            var panel = $(this).attr("data-panel");
            var player = $(this).attr("data-player_no");
            var market = $(this).attr("data-market_name");
            let newLat = latLng.split(',');
            let long = parseFloat(newLat[0]);
            let lat = parseFloat(newLat[1]);
            // initialize(latLng);
            // let locationValuesa = long + ',' + lat;

            mapboxgl.accessToken = 'pk.eyJ1IjoicHJhdmVlbmxrdW1hciIsImEiOiJjbDBncnp6MGcwMHBkM29vMjE2YjB5ZXJ2In0.luURpRwktZMoOvxihp_J_A';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11', // style URL
                center: [long, lat], // starting position [lng, lat]
                // center: latLng,
                zoom: 14 // starting zoom
            });

            // Create a default Marker and add it to the map.
            const marker1 = new mapboxgl.Marker()
                .setLngLat([long, lat])
                .setPopup(new mapboxgl.Popup({
                    closeButton: false,
                    closeOnClick: false,
                    closeOnMove: true,
                    maxWidth: "auto"
                }).setHTML('<table class="pop-attr table table-bordered"><tr><td><b>Lat & Lng</b></td><td>'+long+' '+lat+'</td></tr><tr><td><b>Panel</b></td><td>'+panel+'</td></tr><tr><td><b>Player</b></td><td>'+player+'</td></tr><tr><td><b>Market</b></td><td>'+market+'</td></tr></table>'))
                .addTo(map);
            marker1.togglePopup();
        });

    $(document).on("click", ".player_button", function (e) {
        e.preventDefault();
        var table = $('#reservation_data').DataTable();
        table.destroy()

        var player = $(this).attr("data-player_no");
        show_reservation_data(player)

    })
    function show_reservation_data(player){

        data = {"player": player}
            $.ajax({
                type:"POST",
                async: false,
                url: "/view_data/",
                data: data,
                dataType: 'json',
                success: function(res){
                    console.log(res)
                    data = res['data']
                    count = res['count']
                    if(count > 0){
                        data_response = []
                        $.each(data, function(i,v){

                            data_table = {
                                    "Contract Number": v['contract_no'],
                                    "Contract Type": v['contract_type'],
                                    "Salesperson": v['sales_person'],
                                    "Advertiser": v['advertiser'],
                                    "Segment": v['segment'],
                                    "From": v['from_date_str'],
                                    "To": v['to_date_str'],
                                    "Value": '$' + v['value']
                                  }
                                  data_response.push(data_table)
                        })
                        $("#error_reservation").hide()
                        $("#reservation_data").show()
                        var table = $('#reservation_data').dataTable( {
                            data : data_response,
                            //data : response,
                            columns: [
                                      {"data" : "Contract Number"},
                                      {"data" : "Contract Type"},
                                      {"data" : "Salesperson"},
                                      {"data" : "Advertiser"},
                                      {"data" : "Segment"},
                                      {"data" : "From"},
                                      {"data" : "To"},
                                      {"data" : "Value"},
                                      ],
                            searching : true,
                            dom: 'Bfrtip',
                            buttons: [
                                'excelHtml5'
                            ],
                            order: [7, 'desc']
                        });
                        $(".buttons-html5 span").html('Export')
                    }else{
                        $("#reservation_data").hide()
                        $("#error_reservation").show()
                        $("#error_reservation").html("Reservation Data Not available")
                    }
                }
            })
    }
    $(document).on("change", ".region_city", function (e) {
        city = $(this).val()
        var table = $('#panel_details_data').DataTable();
        table.destroy()
        display_data(city)

    })

    $(document).ready(function(){
        city = $("#city_name").val()
        display_data(city)
        $(".buttons-html5 span").html('Export')
    })

    function display_data(region, table_name){
        data = {"city": region}
        $.ajax({
            type:"POST",
            async: false,
            url: "/view_panel_details/",
            data: data,
            dataType: 'json',
            success: function(res){
                data = res['data']
                data_response = []
                $.each(data, function(i,v){
                    lng_lat = v['longitude'] +','+ v['latitude']
                    player_data = '<a href="#" class="map-btn player_button" data-player_no='+v['player_no']+' data-bs-toggle="modal" data-bs-target="#myModal_1" style="background: transparent;text-decoration: underline;">'+v['player_no']+'</a>'
                    link_data = '<a href="#" class="map-btn button" data-latLng='+lng_lat+' data-panel='+v['panel_no']+' data-player_no='+v['player_no']+' data-market_name='+v['market_name']+' data-bs-toggle="modal" data-bs-target="#myModal" style="background: transparent;text-decoration: underline;">'+lng_lat+'</a>'
                    data_table = {
                        "Panel No": v['panel_no'] ,
                        "Player No": player_data,
                        "Market": v['market_name'],
                        "Co ordinates": link_data,
                        "Description": v['description'],
                        "City": v['city'],
                        "Media Type": v['media_type'],
                        "Sub Market": v['sub_market'],
                        "Week Impressions": v['wk4_imp'],
                        "Unit Type": v['unit_type']
                      }
                      data_response.push(data_table)
                })

                var table = $('#panel_details_data').dataTable( {
                        data : data_response,
                        //data : response,
                        columns: [
                                  {"data" : "Panel No"},
                                  {"data" : "Player No"},
                                  {"data" : "Market"},
                                  {"data" : "Co ordinates"},
                                  {"data" : "Description"},
                                  {"data" : "City"},
                                  {"data" : "Media Type"},
                                  {"data" : "Sub Market"},
                                  {"data" : "Week Impressions"},
                                  {"data" : "Unit Type"}
                                  ],
                        dom: 'Bfrtip',
                        buttons: [
                            'excelHtml5'
                        ],
                        searching : true,
                        "order":[]

                    });
                    $(".buttons-html5 span").html('Export')
            }

        })

    }

</script>
{% endblock %}